@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  line-height: 1.4em;
  background: #DDD;
  padding: 0;
  margin: 0;

  padding-bottom: 4em;
}


h1, h2 {
  line-height: 1.1em;
}

h1 {
  font-weight: bold;
  text-align: center;
}

hr {
  margin: 2em;
}

h2 {
  margin-top: 2em;
}

.main, .content, .footer {
  max-width: 37em;
  margin: 1em auto;
  padding: 1em 2em;
}

.main {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #888;
}


.footer {
  font-size: 0.8em;
  line-height: 1.3em;
}
.footer p { margin: 0em; }


@media screen and (max-device-width: 600px) {
  h1 {font-size: 1.8em;}
  h2 {
    font-size: 1.3em;
    hyphens: auto;
  }
  .main {
    margin: 0;
    padding: 1em;
    min-width: unset;
  }
}


.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.breadcrumb-arrow {
    font-size: 1.5rem;
}
a {
    cursor: default;
    text-decoration: none;
    color: black;
}

.active {
    font-weight: bold;
}
.active:hover {
    cursor: pointer;
    text-decoration: underline;
}
