.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs a {
  position: relative;
  overflow-y: clip;
}

.breadcrumbs a::before,
.breadcrumbs a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 102%;
}

.breadcrumbs a::before {
  transform: skewX(-15deg);
}
.breadcrumbs a::after {
  transform: skewX(15deg);
}

.breadcrumbs a.active {
  font-weight: bold;
  text-decoration: underline;
}

.breadcrumbs a, .breadcrumbs a::before, .breadcrumbs a::after { transition: background 0.2s ease; }

.breadcrumbs a.tab1, .breadcrumbs a.tab1::before, .breadcrumbs a.tab1::after { background: hsl(0, 0%, 95%); }
.breadcrumbs a.tab2, .breadcrumbs a.tab2::before, .breadcrumbs a.tab2::after { background: hsl(0, 0%, 75%); }
.breadcrumbs a.tab3, .breadcrumbs a.tab3::before, .breadcrumbs a.tab3::after { background: hsl(0, 0%, 60%); }

.breadcrumbs a.tab2.active,
.breadcrumbs a.tab2.active::before,
.breadcrumbs a.tab2.active::after,
.breadcrumbs a.tab2:hover::before,
.breadcrumbs a.tab2:hover::after,
.breadcrumbs a.tab2:hover {
  background: hsl(0, 0%, 80%);
}

.breadcrumbs a.tab3.active,
.breadcrumbs a.tab3.active::before,
.breadcrumbs a.tab3.active::after,
.breadcrumbs a.tab3:hover::before,
.breadcrumbs a.tab3:hover::after,
.breadcrumbs a.tab3:hover {
  background: hsl(0, 0%, 65%);
}

.elections {
  gap: 1rem;
}
.elections > .election {
  display: grid;
  flex-direction: column;
  grid-template-columns: 2fr 2fr;
}

.election-header {
  text-align: center;
}
.election-header .logo img {
  height: 60px;
}

.election-info span {
  white-space: nowrap;
}

.elections > div,
.selections > .selection {
  display: block;
  margin: 0.5rem;
  padding: 1rem;

  background-color: #E6E6E6;
  box-shadow: 1px 1px 8px #DDDDDD;
  border-radius: 5px;

  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.selections > .selection div {
  margin: 0 auto;
  max-width: 18rem;
}

.elections > .election.active,
.elections > div:hover,
.selections > .selection:hover {
  background-color: #DDDDDD;
  box-shadow: 1px 1px 6px #D0D0D0;
}

.election-info {
  font-size: 0.8em;
  line-height: 1.5em;
}

.selection {
  cursor: pointer;
  min-height: 4rem;
}
.selections .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selections .logo img {
  display: block;
  height: 4rem;
  max-width: 100%;
  object-fit: contain;
  margin: 1rem;
}

.selections b {
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  display: block;
}

.selections {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

@media screen and (max-device-width: 600px) {
  .selections {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
  .form-field label {
    width: 100%;
  }
}

.listbox {
  margin: 1em auto;
}

ul, ol {
  padding-inline-start: 20px;
}

.listbox p, .listbox ul, .listbox ol {
  margin: 0;
}

.listbox li {
  line-height: 1.2em;
  margin: 0.3em 0;
}

.small {
  font-size: 0.7em;
  line-height: 1.2em;
  color: #444;
}

.warn {
  background: #FF7;
}
