body {
  font-family: Arial, sans-serif;
  line-height: 1.4em;
  background: #DDD;
  padding: 0;
  margin: 0;

  padding-bottom: 4em;
}

#js-player {cursor: pointer;}
#js-player img {
  width: 100%;
  border-radius: 12px;
}

iframe, #js-player {
  display: block;
  margin: 1.5em auto;
  width: 320px;
  height: 180px;
}

@media screen and (min-device-width: 600px) {
  iframe, #js-player {
    width: 560px;
    height: 315px;
  }
}


h1, h2 {
  line-height: 1.1em;
}

h1 {
  font-weight: bold;
  text-align: center;
}

hr {
  margin: 2em;
}

h2 {
  margin-top: 2em;
}

.center {
  text-align: center;
}

.main, .footer {
  max-width: 37em;
  margin: 1em auto;
  padding: 1em 2em;
}

.main {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #888;
}

.config-options {
  display: flex;
  flex-direction: row;
}

@media screen and (max-device-width: 600px) {
  .config-options {
    flex-direction: column;
  }
}


.config-form .config-option:hover {
  background: #DDD;
}
.config-form .config-option.selected {
  background: #BBB;
}

.config-form .config-option {
  background: #EEE;
  transition: background 300ms;

  flex: 1;
  display: block;
  min-width: 200px;
  cursor: pointer;

  border-radius: 8px;
  border: 4px solid white;
}

.config-form .config-option img {
  display: block;
  margin: 0.3em auto;
}

.config-texts a {
  white-space: nowrap;
}

.footer {
  font-size: 0.8em;
  line-height: 1.3em;
}
.footer p { margin: 0em; }

.listbox {
  margin: 1em auto;
}

ul, ol {
  padding-inline-start: 20px;
}

.listbox p, .listbox ul, .listbox ol {
  margin: 0;
}

.listbox li {
  line-height: 1.2em;
  margin: 0.3em 0;
}

.small {
  font-size: 0.7em;
  line-height: 1.2em;
  color: #444;
}

.warn {
  background: #FF7;
}

.form-field label {
  vertical-align: top;
  display: inline-block;
  min-width: 10em;
  margin: 0.3em 0;
}

.form-field.postleitzahl {
  min-height: 2.3em;
}

.admin-address-wrap {
  min-height: 16em;
}

.admin-address-wrap p {
  font-size: 1rem;
}

.admin-address-wrap .ts-wrapper {
  width: 17em;
  margin: 0 auto;
}

.form-field .ts-wrapper {
  width: 11.37em;
}

.ts-control {
  border-radius: 0;
  border: 2px solid #888;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 0.5em;
}

div.ts-wrapper div.ts-control {
  /* hack to match sizing with inputs */
  box-sizing: unset;
  padding: 0.3em 1em !important;
}

.form-field {
  min-height: 2.3em;
}
.form-field > div {
  display: inline-block;
}

.form-field > input {
  width: 13em;
  margin-bottom: 0.5em;
}

.form-field > input {
  border: 2px solid #888;
  padding: 0.3em 1em;
}

button {
  color: #000;
  background: #EEE;
  transition: 300ms background, 300ms border, 300ms box-shadow;
  padding: 0.3em 1em;
  box-shadow: none;
}

button {
  border: 2px solid #888;
}

button:disabled {
  background: #FAFAFA;
  color: #777;
}

button:enabled {
  background: #FFF;
  color: #000;
  box-shadow: 0 0 5px #888;
}

button:enabled:hover {
  cursor: pointer;
  border: 2px solid #000;
}

.pseudoform {
  width: 25em;
  margin: 1em auto;
}
.pseudoform input {
  font-size: 14px;
}
.pseudoform button {
  margin: 1em auto 3em auto;
  display: block;
}

.admin-address-wrap  {
  font-size: 0.8em;
  line-height: 1.3em;
}
.admin-address-wrap select {
  display: none;
}
.admin-address-wrap .ts-control {
  margin: 1em auto;
}
.admin-address-wrap .ts-control {
  width: 13em;
}
.admin-address {
  min-height: 4.5em;
  max-width: 18em;
  margin: 0 auto;
}
.admin-address-wrap .ts-control input {
  display: none !important;
}

.admin-address-wrap span {
  display: inline-block;
  vertical-align: top;
  min-width: 6em;
  max-width: 11em;
}

@media screen and (max-device-width: 600px) {
  h1 {font-size: 1.8em;}
  h2 {
    font-size: 1.3em;
    hyphens: auto;
  }
  .main {
    margin: 0;
    padding: 1em;
    min-width: unset;
  }
  .pseudoform {
    width: 14em;
  }
  .form-field label {
    width: 100%;
  }
}
