{% extends "base.html" %}

{% block head %}
<style inline>
  .impressum {
    padding: 1rem 1.5rem;
    line-height: 1.6em;
  }
  .impressum h2 {
    margin-top: 0;
  }
  .impressum p {
    margin: 0.5em 0;
  }
  .impressum hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #CCC;
  }
</style>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="impressum">
  <h2>Impressum</h2>
  <p><strong>Angaben gemäß § 5 TMG:</strong></p>
  <p>
    Manuel Barkhau<br>
    c/o Online-Impressum #8649<br>
    Europaring 90<br>
    53757 Sankt Augustin<br>
    E-Mail: <a href="mailto:info@uu-tool.de">info@uu-tool.de</a>
  </p>
  
  <hr>

  <p><strong>Haftungsausschluss:</strong></p>

  <p>
    Verantwortlich für den Inhalt gemäß § 18 Abs. 2 des Medienstaatsvertrags (MStV): Manuel Barkhau
  </p>

  <p>Die Verwendung der Webseite uu-tool.de erfolgt auf eigene Verantwortung. Die Webseite dient lediglich der Vereinfachung der Kommunikation zwischen  Wahlberechtigten mit Bürgerämtern und Parteien. Die Verantwortung für diese Kommunikation liegt vollständig beim Wahlberechtigten.</p>

  <p>Auf Anfrage durch berechtigte Personen, kann die jeweilige Partei aktiviert/deaktiviert oder entfernt werden.</p>

  <p><strong>Unterstützung/Billigung von Parteien</strong></p>

  <p>Die Webseite uu-tool.de ist Parteiübergreifend und Parteiunabhängig. Die Aufführung einer Partei impliziert weder eine Unterstützung der Partei, noch eine Unterstützung der Webseite durch die Partei.</p>

  <p>Auf Anfrage durch berechtigte Personen, kann die jeweilige Partei aktiviert/deaktiviert oder entfernt werden.</p>

  <p><strong>Haftung für Inhalte</strong></p>

  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehme ich jedoch keine Gewähr. Als Diensteanbieter bin ich gemäß § 7 Abs. 1 TMG für eigene Inhalte auf dieser Seite nach den allgemeinen Gesetzen verantwortlich.
  </p>

  <p><strong>Haftung für Links</strong></p>

  <p>
  Diese Website enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Die Verantwortung für Inhalte dieser Webseiten (einschließlich der dort verankerten Links zu Dritten), tragen allein die jeweiligen Anbieter. Für verlinkte Inhalte übernehme ich keine Gewähr.
  </p>

  <p><strong>Urheberrecht</strong></p>
  <p>
    Die durch den Seitenbetreiber erstellten Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.
  </p>

  <p>Die Wappen der Gebietskörperschaften (Bund/Länder/Städte/Gemeinden) sind als amtliche Werke aufgrund des § 5 UrhG gemeinfrei.</p>

  <p>Die Urheberschaft der Marken/Logos der Parteien verbleibt bei ihren jeweiligen Urhebern. Auf Anfrage durch berechtigte Personen wird diese Verwendung unterlassen.</p>

  <p><strong>Datenschutz</strong></p>

  <p>
    Die Nutzung dieses Tools erfolgt vollständig ohne Übermittlung oder Speicherung personenbezogener Daten. Alle Daten werden ausschließlich lokal in Ihrem Browser verarbeitet und zu keinem Zeitpunkt an uns oder Dritte übertragen.
  </p>

  <p>
    Diese Seite verwendet keine Cookies.
  </p>
</div>
{% endblock %}
