{% extends "base.html" %}
{% block head %}
<style inline>
.vid-container {
    aspect-ratio: 16 / 9;
    position: relative;
    max-width: 100%;
    border: 1px solid #888;
}

#js-player {
    cursor: pointer;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background:
        url(data:image/svg+xml;utf8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNjQiIGhlaWdodD0iMTE0IiB2aWV3Qm94PSIwIDAgMTY0IDExNCI+PHBhdGggZmlsbD0icmVkIiBkPSJtMTYwIDE4YTIwIDIwIDAgMDAtMTQtMTVjLTEzLTMtNjQtMy02NC0zcy01MSAwLTY0IDNhMjAgMjAgMCAwMC0xNCAxNWMtNCAxMi00IDM5LTQgMzlzMCAyNyA0IDM5YTIwIDIwIDAgMDAxNCAxNWMxMyAzIDY0IDMgNjQgM3M1MSAwIDY0LTNhMjAgMjAgMCAwMDE0LTE1YzQtMTIgNC0zOSA0LTM5czAtMjctNC0zOXoiIC8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTEwOCA1OCBsLTQyLTI1djQ5eiIvPjwvc3ZnPgo=) #DDD 0px 0px/94px no-repeat;
    background-position: center;
}

#js-player img {
    max-width: 100%;
}
</style>
{% endblock %}
{% block content %}

<div class="vid-container">
    <div id="js-player">
        <img src="img/thumbnail.jpg" alt="video thumbnail" loading="lazy" />
    </div>
</div>
<a class="button" href="wahl.html">Zur Auswahl ➤</a>

<h2>Anforderungen</h2>

<ol>
    <li>Drucker</li>
    <li>Drei DIN A4 Seiten</li>
    <li>Briefumschlag (ggf. mit Frankierung)</li>
</ol>

<h2 id="voraussetzungen">
    Voraussetzungen für eine gültige Unterstützungsunterschrift
</h2>

<ul>
    <li>
        Sie dürfen
        <b>nur eine Unterstützungsunterschrift</b> leisten. Sie dürfen nicht
        mehrere Parteien/Wahlvorschläge zur gleichen Wahl unterstützen.
    </li>
    <li>Sie dürfen nicht vom Wahlrecht ausgeschlossen sein.</li>
    <li>
        Sie müssen am Tag der Unterschrift das <b>Mindestalter</b> erreicht haben.
    </li>
    <li>Sie müssen <b>deutscher Staatsbürger</b> sein.
        <a
            href="https://www.bmi.bund.de/DE/themen/verfassung/wahlrecht/auslaenderwahlrecht/auslaenderwahlrecht-node.html">(Ausnahme
            EU-Bürger bei Kommunalwahlen.)</a>
    </li>
    <li>
        Sie müssen mindestens <b>drei Monate mit Erstwohnsitz</b>
        in einem Wahlbezirk zur jeweiligen Wahl gemeldet sein.
    </li>
</ul>

<h2 id="datenschutz">Datenschutz</h2>

<ul>
    <li>Ihre <b>persönlichen Daten</b> werden durch uu-tool.de <b>nicht
            gespeichert</b> oder weitergegeben.</li>
    <li>Die Eingabe Ihrer persönlichen Daten ist <em>ausschließlich</em> um das UU-Formular auszufüllen.</li>
    <li>Diese Verarbeitung Ihrer Daten findet <em>ausschließlich</em> auf
        Ihrem eigenen Endgerät statt.</li>
    <li>Eine Übermittlung Ihrer persönlichen Daten <em>findet nicht statt</em>.</li>
</ul>

{% endblock %}